# Pandas

In [4]:
import pandas as pd
import numpy as np

## Creating a series from df lable types

In [9]:
lables = ['a','b','c','d']
my_data = [10,20,30, 40]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30, 'd':40}

In [12]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [13]:
pd.Series(data = my_data)

0    10
1    20
2    30
3    40
dtype: int64

In [14]:
pd.Series(data = my_data, index=lables)

a    10
b    20
c    30
d    40
dtype: int64

In [15]:
pd.Series(arr)

0    10
1    20
2    30
3    40
dtype: int64

In [16]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

## How to grap information from a Series

In [17]:
ser1 = pd.Series([1,2,3,4], ["USA", "Germany", "USSR", "Japan"])

In [18]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [19]:
ser2 = pd.Series([1,2,5,4],["USA", "Germany", "Italy", "Japan"])

In [20]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [21]:
ser2['USA']

1